@import url("https://cdn.syncfusion.com/ej2/material.css");

body{
  box-sizing: border-box;
  justify-content: center;
}
/* .sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
} */
.nav-item,
.navbar {
  z-index: 10000;
}
@media screen and (max-width: 800px) {
  .sidebar {
    z-index: 10000000;
  }
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

#preview {
  background: transparent
    url("https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png")
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left),
.e-input-group.e-success:not(.e-float-icon-left),
.e-input-group.e-warning:not(.e-float-icon-left),
.e-input-group.e-error:not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
  border: none;
}

.back_set {
  /* background: url("../public/back5.png"); */
  background: linear-gradient(
    106.37deg,
    #2b4866 29.63%,
    #69a4c8 51.55%,
    #22374a 90.85%
  );
  background-position: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background-color: #eef3f4; */
  /* background: linear-gradient(rgba(0, 0, 0, 0.3)); */
  z-index: -1;
  object-fit: fill;
}
.back_transparent {
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.1);
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.2);
}

.card_white{
  background-color: #efebeb;
}



/* .sidebar{
  background-color: #fafafa;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  box-shadow:  v-shadow blur spread color inset;  
} */

.absolute{
  position: absolute;
  top: 50px !important;
  inset: 0;
  justify-content: center;
  display: inline-flex;
  flex-direction: row;
}

.justify-center{
  justify-content: center;
}

.bg-shape1{
  width: 400px;
  height: 400px;
  border-radius: 9999px;
  position: relative;
  top: 200px;
  animation: one 5s infinite;
}
.bg-shape2{
  width: 300px;
  height: 300px;
  border-radius: 9999px;
  position: relative;
  top: 300px;
  animation: two 15s infinite;
}
.bg-shape3{
  width: 250px;
  height: 250px;
  border-radius: 9999px;
  position: relative;
  top: -200px;
  left: -200px;
  /* animation: two 15s infinite; */
}
.bg-shape4{
  width: 250px;
  height: 250px;
  border-radius: 9999px;
  position: relative;
  bottom: 50px;
  right: 0px;
  /* animation: two 15s infinite; */
}

@keyframes one{
  0%{left: 0px; top: 0px;}
  25%{left: -100px; top: 70px;}
  50%{left: 20px; top: 150px;}
  75%{left: 50px; top: 100px;}
  100%{left: 0px; top: 0px;}
}
@keyframes one{
  0%{left: 0px; top: 0px;}
  25%{left: -100px; top: 70px;}
  50%{left: 20px; top: 150px;}
  75%{left: 50px; top: 100px;}
  100%{left: 0px; top: 0px;}
}

.opacity-50{
  opacity: .5;
}
.bg-blur{
  filter: blur(90px);
}
.bg-primary{
  background-color: rgb(30, 0, 255);
}
.bg-teal{
  background-color: rgb(255, 52, 173);
}
.bg-purple{
  background-color: rgb(140, 0, 215);
}