@import url("https://cdn.syncfusion.com/ej2/material.css");

/* .sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
} */
.nav-item,
.navbar {
  z-index: 10000;
}
@media screen and (max-width: 800px) {
  .sidebar {
    z-index: 10000000;
  }
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

#preview {
  background: transparent
    url("https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png")
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left),
.e-input-group.e-success:not(.e-float-icon-left),
.e-input-group.e-warning:not(.e-float-icon-left),
.e-input-group.e-error:not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
  border: none;
}

.back_set {
  /* background: url("../public/back5.png"); */
  background: linear-gradient(
    106.37deg,
    #2b4866 29.63%,
    #69a4c8 51.55%,
    #22374a 90.85%
  );
  background-position: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background-color: #eef3f4; */
  /* background: linear-gradient(rgba(0, 0, 0, 0.3)); */
  z-index: -1;
  object-fit: fill;
}
.back_transparent {
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  backdrop-filter: blur(14px);
  background-color: rgba(255, 255, 255, 0.2);
}

.card_white{
  background-color: #efebeb;
}

.card_background_0 {
  /* background-color: #ccc4f9 */
  background-image: linear-gradient(rgba(122, 122, 118, 0.1), rgba(114, 116, 114, 0.1));
}
.card_background_1 {
  /* background-color: #afccf4 */
  background-image: linear-gradient(rgba(249, 83, 33, 0.2), rgba(11, 134, 37, 0.2));
}
.card_background_2 {
  /* background-color: #92d1af */
  background-image: linear-gradient(rgba(127, 105, 240, 0.2), rgba(77, 153, 246, 0.2));
}
.card_background_3 {
  /* background-color: #afccf4 */
  background-image: linear-gradient(rgba(105, 208, 240, 0.1), rgba(237, 95, 239, 0.1));
}
.card_background_4 {
  /* background-color: #afccf4 */
  background-image: linear-gradient(rgba(243, 7, 7, 0.2), rgba(242, 246, 9, 0.2));
}
.card_background:hover {
  background-image: linear-gradient(rgba(253, 254, 255, 0.74), rgba(255, 255, 255, 0.5));
}

/* .sidebar{
  background-color: #fafafa;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  box-shadow:  v-shadow blur spread color inset;  
} */